# All Vim swap files
*.swp

# All object files
*.o

# somix executable
somix
mkfs.somix

# test image
*.IMG

# test executables
test_cache
test_resolv_path

# cache write log
cache_write.log

# misc notes
notes
